#top-nav {
	float: right;
	margin: 1% 10% 0% 0%;
	text-transform: uppercase;
  font-family: sans-serif;
}
#top-nav ul li {
	display: inline;
	padding: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 48px;
  font-family:sans-serif;
  text-align: center;
}
.article-thumbs	{
	text-align: center;
	clear:both;
}
.article-thumbs img {
	border: 50%;
	max-width: 200px;
  padding: 20px;
}
header img {
  width:100%;
}
nav ul {
	list-style-type: none;
	margin: 0px;
}
nav ul a,
nav ul a:visited {
	text-decoration: none;
	color: #333;
}
html {
  margin-left: 10px;
  margin-right: 10px;
}
#secondary-nav {
text-align:center;
margin: 1% 10% 0% 0%;
font-family:sans-serif;
}
#secondary-nav ul li {
  display: inline;
  padding: 80px;
  margin-bottom: 10px;
}
