<style>
@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
</style>
* {
	box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.4rem;
		margin: 10%;
		background-image:url("../img/bg.jpg") repeat;
		background-size: cover;
}
ul li {
	display:inline;
	padding: 10px;
	margin-bottom: 20px;
}
ul {
	float:right;
}
.heading{
	margin-top: 40px;
	float:left;
}
img {
	width: 100%;
    max-width: 100%;
}

footer {
    margin: 4rem 0rem;
    padding: 2rem 0rem;
    border-top: 1px solid #ccc;
    font-size: .8rem;
}
h1 {
	font-family: 'Slabo 27px', serif;
}
h2 {
	font-family: 'Slabo 27px', serif;
}
body {
	font-family: 'Roboto', sans-serif;
}
section {
	width: 33%;
	padding: 10px;
	float:right;
	margin-bottom: 20px;
}
nav ul li a: hover,
nav ul li a: focus,
nav ul li a: active {
	color: grey; }
#imageone {
	width: 60%;
	float: left;
	padding: 10px;
}
#row img{
	padding: 30px;
	margin: 0px;
	width: 33%;
	display:inline;
}
#row {
	width:66%;
	float:left;
	margin:0px;
}
#container {
	width: 66%;
	text-align:center;
	margin-left: 20%;
	float:left;
}
footer {
	float:left;
	margin-top:800px;
}
